.logo{
margin: 2px;
}
.full-input{
    width: 95% !important;
}
nav{
    background-color: blue !important;
    line-height: 0px !important;
}
.size{
    font-size: 30px !important;
    position: relative;
}
.join-cart{
    line-height: 66px !important;
    margin-left: 25px !important;
    font-size: 32px !important;
}

.active-cart{
    background-color: red;
    color: #fff;
    padding: 2px;
    border-radius: 50px;
    font-size: 12px;
    position: relative;
    width: 21px;
    height: 21px;
    float: right;
    margin: 5px -65px 0 0;
    line-height: 18px;
    text-align: center;

}
input{
    border-bottom: #fff 1px solid !important;
}