<div class="">
    <app-navbar></app-navbar>
</div>
<div class="body"> 
    <div class="row">
        <div class="col s6  dark border"><i class="material-icons">swap_vert</i><span class="adj">Sort</span></div>
        <div class="col s6  dark border"><i class="material-icons">local_bar</i><span class="adj">Filter</span></div>
        <div class="col s6 col m4 col l3 border" *ngFor='let item of filterData'>
            <div class="card">
                <div class="card-image waves-block">
                  <img class="activator" src='{{item.img_url}}'>
                </div>
                <div class="card-content">
                  <span class="card-title">{{item.name}}</span>
                  <table>
                    <thead>
                      <tr>
                          <th class="offamount">&#8377; {{item.price - item.discount}}</th>
                          <th class="realamount"><del>{{item.price}}</del></th>
                          <th class="discount">{{item.price | priceCalulater:item.discount}}% off</th>
                      </tr>
                    </thead>
                  </table>
                    <div class="btn round" (click)='addToCart(item)'>Add To Cart</div> 
                </div>
              </div>
        </div>
    </div>
</div>


